@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/tRvJQnSw4lmceQIbdzOKGHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/p_PvaTv0YzIEJlEVv30xK6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v7/0hS39AKxpJlEXQF3mVPgrnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
  font-family: "Rubik";
  color: #686262;
}

/* Navigation styling, Desktop*/
.nav {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0EFEF;
}

.brand {
  flex-grow: 1;
}

.nav .brand {
  display: flex;
  align-items: center;
}

.nav .brand img {
  height: 3rem;
  width: auto;
  padding-left: 1.5rem;
  padding-top: 0.3rem;
}

.nav .menu .navigation a {
  text-decoration: none;
  color: black;
  margin: 0.5rem;
}

.nav .menu .navigation {
  margin-right: 1rem;
}

.nav .name span {
  font-size: 1.8rem;
}

.nav .name .dark {
  color: #686262;
  font-weight: bold;
}

.nav .name .light {
  color: #909090;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .nav.tablet {
    display: none;
  }
}


/* Tablet navigation styling, 768px */

@media only screen and (max-width: 767px) {
  .nav.desktop .name {
    display: none;
  }
}

@media only screen and (min-width: 451px) {
  .nav.mobile {
    display: none;
  }
}

/* Mobile navigation styling, 450px */

@media only screen and (max-width: 450px) {
  .nav.desktop {
    display: none;
  }

  .nav.desktop .menu {
    display: none;
  }

  .nav.mobile {
    display: flex;
  }

  .nav.mobile .logo {
    flex-grow: 1;
  }

  .nav.mobile .logo img {
    height: 3rem;
    width: auto;
    padding-left: 24px;
    padding-top: 0.3rem;
  }

  .nav.mobile .mobile-menu {
    margin-right: 1.5rem;
  }

  .nav.mobile .mobile-menu a {
    margin: 1.5rem;
  }

  .nav.mobile .mobile-menu img {
    height: 2rem;
    width: auto;
    padding-top: 0.3rem;
  }
}

/* Main header section styling */

.main-banner {
  background-color: #F0EFEF;
  display: flex;
}

.main-banner .main-image {
  width: 60%;
  height: auto;
  overflow: hidden;
  float: left;
}

.main-banner .main-image img {
  margin: 2rem;
  width: 100%;
  height: auto;
  display: block;
}

.main-banner .right.main {
  margin-left: 5rem;
  margin-top: 9rem;
}

.main-banner .right.main .headline {
  font-size: 3.2rem;
  font-weight: bold;
  margin-right: 3rem;
}

.main-banner .right.main .body {
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  font-size: 2rem;
  line-height: 1.5;
}

.main-banner .right.main .button {
  margin-top: 4rem;
}

.main-banner .right.main .button a {
  background-color: #686262;
  color: white;
  text-decoration: none;
  padding: 1.2rem 35%;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Main header section, tablet styling 1439, 1332px,
988px, 768px*/
@media only screen and (max-width: 1439px) {
  .main-banner .right.main {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 1332px) {
  .main-banner .right.main {
    margin-left: 3rem;
    margin-top: 5rem;
  }

  .main-banner .right.main .headline {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .main-banner .right.main .body {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .main-banner .right.main {
    margin-left: 2rem;
    margin-top: 3.5rem;
    margin-right: 1.5rem;
  }

  .main-banner .right.main .headline {
    font-size: 2rem;
    font-weight: bold;
  }

  .main-banner .right.main .body {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    line-height: 1;
  }

  .main-banner .right.main .button {
    margin-top: 2.5rem;
  }

  .main-banner .right.main .button a {
    color: white;
    text-decoration: none;
    padding: 1.2rem 20%;
    font-size: 1rem;
    font-weight: lighter;
  }

@media only screen and (max-width: 767px) {
  .main-banner {
    display: block;
  }

  .main-banner .right.main {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding-bottom: 3rem;
  }

  .main-banner .main-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    float: none;
    margin: 0rem;
  }

  .main-banner .main-image img {
    margin: 0rem;
  }

  .main-banner .right.main .headline {
    font-size: 2.4rem;
    font-weight: bold;
    margin-right: 0rem;
  }

  .main-banner .right.main .body {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-right: 0rem;
  }

  .main-banner .right.main .button {
    margin-top: 4rem;
  }

  .main-banner .right.main .button a {
    background-color: #C5C4C4;
    padding: 1.1rem 38%;
    font-size: 1rem;
    font-weight: normal;
  }
}
